@model COM.ZUOMANE.Models.ArticleCategory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ArticleCategory</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SortNum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SortNum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsDelete)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsDelete)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RecordStatus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RecordStatus)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreateUser)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateUser)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreateDatetime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateDatetime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastUpdateUser)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastUpdateUser)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastUpdateDatetime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastUpdateDatetime)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
